<link href="https://fonts.googleapis.com/css?family=Srisakdi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Srisakdi&display=swap" rel="stylesheet">
<body>
<div class="container-fluid">
    

                <h1>Top World Motivational Quotes</h1>
           

    <div class="row">

        <div class="col md-6">

            <div *ngFor='let quote of quotes ;let i = index'>
                <div class="card">
                    <h3 appHighlight> {{quote.quote}} </h3>
                    <div class="card">
                        <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                        
                       
                        
                    </div>
                </div>
                <button (click)='toggleDetails(i)' class="bg-primary text-white">View More</button>
            </div>
        </div>
        <div class="col-md 6">
            <div class="card">
                <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            </div>
        </div>
    </div>

</div>
</body>