.container-fluid {
    background-color: #233714;
    height: 100vh;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 70px;
    text-transform: uppercase;
    font-size: 29px;
    font-family: 'Srisakdi', cursive;
font-family: 'Bowlby One SC', cursive;
font-family: 'Akronim', cursive;
font-family: 'Sancreek', cursive;
}

h1:hover {
    color: blue;
}

h3 {
    font-size: 28px;
    font-family: 'Srisakdi', cursive;
}

